body {
    font-family: 'Courier Prime', monospace;
    color: #6cb55e;
    background-color: #131313;
    // font-size: 1.4em;
}

p:last-child { margin-bottom: 0}

#content-container {
    padding: 1em;
}

#main-menu-container .menu-item {
    margin: 0em 1em;
}

#theme-header {
    background-color: #6cb55e;
    padding: 1em 1em;
    margin-bottom: 1em;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    background-color: #6cb55e;
}
a:active {
    color: white;
}

#menu-main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}